/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný a nedsazen7 od horního a dolního okraje*/
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);   
}
.menu li {
    display: inline-block;
    font-size: 1rem;
    padding: 15px 30px 0px 15px;
    cursor: pointer;
}
.menu li:hover,
.menu li:active,
.menu li:focus {
	font-weight: 700;
    color: white;
    background-color: #25133d ;
}
.Appka {
    text-transform: uppercase;
    font-weight: 700;
}
.vizual {
    position: relative;
    padding: 30px 0px 0px 50px;
    color: white; 
    height: 450px;  
    background-image: linear-gradient(#25133d,#48418e);
}
.nazev {
    margin: 0;
    font-size: 4.8rem;
    font-weight: 400;
}
.slogan {
    margin-top: 40px;
    font-size: 1.8rem;
    font-weight: 300;
}
.odkazy a {
    display: inline-block;
    border: solid;
    border-width: 0.2rem;
    border-radius: 10px;
    padding:20px; 
    margin: 40px 30px 0px 0px;  
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    color: white;
    cursor: pointer;
}
.odkazy a:hover,
.odkazy a:active,
.odkazy a:focus {
	font-weight: 700;
    color: white;
    background-color: #25133d ;
}
.tlacitkozdarma {
    background-color:#25133d;
}
.tlacitkoinformace:{
    background-color: #48418e;
}
.telefon {
    position: absolute; 
    right: 0;
    bottom: -7px;
}
.informace {
    display: flex;
    padding: 30px;
    text-align: center;
    color:#25133d;
}
h2 {
    font-size: 1.1rem;
    font-weight: 700;
}
.popis {
    font-size: 1rem;
    padding: 0px 20px 20px 10px;
}
footer {
    background-color:#25133d;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
}



/* .tlacitko { */
	/* vzhled tlačítka */
	display: inline-block;
	padding: 18px 30px 14px 30px;
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: #f15f42;
	color: white;
	border-radius: 6px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.tlacitko:hover,
.tlacitko:active,
.tlacitko:focus {
	/* změna barvy pozadí při najetí myší nad tlačítko */
	background-color: #d54c31;
}
